<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasdias.search.view">
    <application>
        <activity
            android:name="com.lucasdias.search.presentation.view.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.CatAndDog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
    </application>
</manifest>